.footer {
	padding: 16px 0;
	border-top: 1px solid #f3f3f3;
}

.footerWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyright {
	font-size: 14px;
	font-weight: 300;
}
